<div
  class="alert alert-primary"
  role="alert"
  style="text-align: center; margin-top: 20px"
>
  BRANDS
</div>
<ul class="list-group">
  <li *ngFor="let brand of brands" class="list-group-item">{{brand.name}}</li>
</ul>



<!-- <div
  class="alert alert-primary"
  role="alert"
  style="text-align: center; margin-top: 20px"
>
  BRANDS
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Brand</th>
            <th scope="col">Founder</th>
            <th scope="col">Founded Year</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <th scope="row">{{brand.id}}</th>
        <td>{{brand.name}}</td>
        <td>{{brand.founder}}</td>
        <td>{{brand.foundedYear}}</td>
        <td>{{brand.country}}</td>
    </tr>
</table> -->


